.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
}

.list_item {
  position: relative;
}
.list_item:hover {
  cursor: pointer;
}

.dragging {
  position: relative;
  cursor: grab;
}
